<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<!-- Chaine de connexion définie pour la connexion à la BD-->
	<connectionStrings>
		<add name="Utilisateur" connectionString="Data Source=localhost;Initial Catalog=BD_Utilisateurs;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>