<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<!-- Chaine de connexion définie pour la connexion à la BD-->
	<connectionStrings>
		<add name="Eleve" connectionString="Data Source=localhost;Initial Catalog=ppe_csharp;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>